@font-face {
    font-family: "Inter"; /*nome da fonte*/
    src: url(../assets/fonts/Inter/static/Inter_18pt-Regular.ttf); /*caminho da fonte*/
    font-weight: 400; /*peso da fonte*/
    font-style: normal; /*estilo da fonte  (normal, italic, etc.)*/
}